# --- Ignorer le Dataset BraTS ---
*.nii
*.nii.gz
dataset/
Data/

# --- Ignorer les environnements virtuels Python ---
__pycache__/
.venv/
venv/
env/
*.pyc

# --- Ignorer la future Base de Données ChromaDB ---
ma_base_medicale/
# Ignorer les poids des modèles Deep Learning
pretrain/
saved_models/
# Ignorer les api_keys et les configurations sensibles
.env

# Bases de données et résultats locaux
qdrant_local_db/
results/
evaluation_results/
images/